# Core libraries for data handling and analysis
pandas
tqdm
matplotlib
scikit-learn

# Telegram data fetching
telethon

# NLP and Machine Learning
transformers
torch
torchvision
torchaudio

# Persian language processing (installed from a specific git commit)
hazm @ git+https://github.com/mahdisharifloo/hazm.git@1a97869bbb360a8fab681552f0d0dada7c200dce